/*Global Styling*/
*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgba(0, 0, 0, 0.728);
    background-image: url(pik1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh;
}
/*STYLING THE NAVBAR*/
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.logo{
    width: 200px;
    height: 20px;
    display: flex;
}
.logo h2{
    color: #ff7200;
    font-size: 32px;
    font-family: sans-serif;
    padding-left: 50px;
    display: flex;
    padding-top: 3px;
}
.menu{
    width: 400px;
    height: 70px;
}
.menu ul{
    display: flex;
    flex: 30px;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-between;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}